[Unit]
Description=Firmware Flash Service
After=ModemManager.service fibo_helper.service

[Service]
EnvironmentFile=/etc/systemd/system/fibo_flash.d/env.conf
ExecStart=/opt/fibocom/fibo_flash_service/fibo_flash
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort
Type=simple
Restart=on-abort
User=root

[Install]
Alias=fibo_flash
WantedBy=multi-user.target
