[Unit]
Description=Firmware Helper Service
After=ModemManager

[Service]
EnvironmentFile=/etc/systemd/system/fibo_helper.d/env.conf
ExecStartPre=/etc/systemd/system/fibo_helper.d/port_inint.sh
ExecStart=/opt/fibocom/fibo_helper_service/fibo_helper_dbus
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort
Type=simple
Restart=on-abort
User=root

[Install]
Alias=fibo_helper
WantedBy=multi-user.target
